/*Color palette: https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8*/
.react-section {
    background-color: #003459;
    color: #ffffff;
    padding: 2em;
}

.clean-storage-btn {
    padding: 1em;
    color: #003459;
    background-color: #00A8E8;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.clean-storage-btn:hover {
    background-color:#00171F;
}